.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__top {
        text-align: center;
        h2 {
            font-size: 28px;
            margin-bottom: 5px;
        }
        p {
            font-size: 18px;
            letter-spacing: 0.1px;
            line-height: 21px;
            opacity: 0.5;
            margin-bottom: 50px;
        }
    }
    .block {
        width: 430px;
    }
    .button {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.1px;  
        width: 100%;
    }
    &__reg-link {
        color: #ADADAD;
        text-align: center;
        display: block;
        font-size: 16px;
        line-height: 19px;
    }

    &__success-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 400px;
        svg {
            width: 48px;
            height: 48px;
        }
        h2 {
            margin-top: 25px;
        }
        p {
            color: #ADADAD;
            font-size: 15px;
        }
    }
}