.chat {
    display: flex;
    background-color: #fff;
    width: 1140px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.04204);
    
    &__sidebar {
        border-right: 1px solid #f7f7f7;
        width: 320px;
        &--header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            &-iTeam {
                display: inline-block;
                margin-right: 5px;
            }
        }
        
        &--search {
            padding: 0 20px 20px 20px;

            Input {
                border: 0;
            }
        }

        &-dialogs {
            .dialogs {
                &__item {
                    padding: 10px 20px;
                    margin-bottom: 0;
                    transition: all 0.17s ease-in-out;
                    cursor: pointer;
                    &.avtive,  &:hover {
                        background-color: #f3f7ff;
                    }
                }
            }   
        }
    }

    &__dialog {
        flex: 1;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #f7f7f7;
            padding: 20px;

            &--center {
                text-align: center;
                .status {
                    display: inline-block;
                    position: relative;
                    color: #bfbfbf;
                    &--online {
                        &::before {
                            background-color: #00c980;
                        }
                    }
                    &::before {
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: -15px;
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 30px;
                        background-color: #d3d3d3;
                    }
                }
            }

            &--username {
                font-weight: 500;
                display: block;
                margin-bottom: 7px;
            }
        }
    }
}