@import "../../styles/variables";

.message {
    $self: &;

    &__content {
        position: relative;
        display: flex;  
        max-width: 440px;
        margin-bottom: 15px;
    }
    
    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-bottom: 5px;
        }
    }

    &__icon-readed {
        position: absolute;
        bottom: 25px;
        left: -25px;
    }

    &__bubble {
        background: $blue;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 10px;
    }

    &__text {
        color: #fff;
        line-height: 20px;
    }

    &__date {
        font-size: 13px;
        opacity: 0.5;
    }

    &__attachments {
        display: flex;
        margin-bottom: 5px;
        &-item {
            margin-right: 10px;
            cursor: pointer;
            img {
                width: 45px;
                height: 45px;
                border-radius: 8px;
            }
        }
    }

    &--isMe {
        display: flex;
        flex-direction: row-reverse;

        #{$self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        #{$self}__avatar {
            img {
                margin-right: 0;
                margin-left: 13px;
            }
        }

        #{$self}__info {
            text-align: right;
        }

        #{$self}__bubble {
            background: #ffffff;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.0220444);
            border-radius: 12px 12px 0px 12px;
            text-align: left;
            #{$self}__text {
                color: $black;
            }
        }
    }

    &--isTyping {
        #{$self}__bubble {
            background: $message-typing-blue;
            box-shadow: 0 5px 5px rgba(54, 116, 255,0.04);
            padding: 15px 20px;
        }
    }

    &__typing{
        span {
            text-align: center;
            height: 8px;
            width: 8px;
            margin-right: 5px;
            
            background-color: $message-typing-circle;
            display: inline-block;
            border-radius: 50%;
            animation-name: typingAnimation;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: .5s;
            
            &:nth-of-type(2) {
                animation-duration: .6s;
            }
            &:nth-of-type(3) {
                animation-duration: .7s;
            }
        }
    }

    &--image {
        #{$self}__attachments {
            &-item {
                img {
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }

    @keyframes typingAnimation {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
}